$def with (totals)
<table class="table table-condensed borderless">
    <tbody>
        <tr>
            <td>Begroot</td>
            <td>$:totals['begroot']</td>
        </tr>
        <tr>
            <td>Realisatie</td>
            <td>$:totals['geboekt']</td>
        </tr>
        <tr>
            <td>Obligo</td>
            <td>$:totals['obligo']</td>
        </tr>
        <tr>
            <td>Totale Kosten</td>
            <td>$:totals['totaalkosten']</td>
        </tr>
        <tr>
            <td>Resultaat</td>
            <td>$:totals['resultaat']</td>
        </tr>
    </tbody>
</table>
