$def with (form)

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Settings</h4>
            </div>
            <div class="panel-body">
                <form name="main" method="post" enctype="multipart/form-data" action="">
                    <div class="form-group">
                        $:form.render()
                    </div>
                </form>
                <a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a>
            </div>
          </div>
