$def with (summary)
                  Begroting: &euro;$summary['begroting']<br>
                  Totale Baten: &euro;$summary['baten']<br>
                  Totale Lasten: &euro;$summary['lasten']<br>
                  Totale obligo: &euro;$summary['obligo']<br>
                  $if summary['ruimte'] > 0:
                    Nog te besteden: &euro;$summary['ruimte']<br>
                  $else:
                    Tekort: &euro;$summary['ruimte']<br>
                  <hr>
                  <img src="$:summary['graph_realisatie']" class="img-responsive">
