$def with(regels, header, totals)

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button data-toggle="collapse" data-target="#collapse$header['id']" class="accordion-toggle btn btn-default btn-xs">
                            <span id="plusminus$header['id']" class="glyphicon glyphicon-minus"></span>
                        </button>
                        $header['name']

                        <div class="label label-default pull-right label-as-badge">Gereserveerd: &euro;$totals[header['name']]['obligo']</div>
                        <div class="label label-default pull-right label-as-badge">Kosten: &euro;$totals[header['name']]['geboekt']</div>
                        <div class="label label-default pull-right label-as-badge">Begroot: &euro;$totals[header['name']]['plan']</div>

                    </div>
                    <div id="collapse$header['id']" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <div class="table-responsive">
                                $if regels:
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                        <tr>
                                            <th>Doc#</th>
                                            <th>Date</th>
                                            <th>Omschrijving</th>
                                            <th>Bedrag</th>
                                            <th>Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        $for regel in regels:
                                            <tr>
                                                <td>$regel.documentnummer</td>
                                                <td>$regel.jaar - $regel.periode</td>
                                                <td>$regel.omschrijving</td>
                                                <td>&euro;$regel.kosten</td>
                                                <td>$regel.tiepe</td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
