$def with (view)

    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>
            Budget Details
          </h1>
        </div>
        <div class="col-xs-6 text-right">
          <h1>$view['title']
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
            $:view['summary']
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
            $:view['settings']
        </div>
      </div>

      $for table in view['tables']:
        $:table

    </div>
