$def with(regelsHeaders, regelsBody, regelsTotal)
                <table class="table table-condensed" style="border-collapse:collapse;">
                    <thead>
                        <tr>
                            $for header in regelsHeaders:
                                <th class="text-right">$header</th>
                        </tr>                          
                    </thead>
                    <tbody>
                    $for regels in regelsBody:
                        <tr>
                        $for regel in regels:
                            <td class="text-right">$regel</td>
                        </tr>
                    <tr class="table-warning">
                    $for regel in regelsTotal:
                        <td class="text-right">$regel</td>
                    </tr>
                    </tbody>
                </table>
