$def with (headers, headersgrootboek, tables, sapDatum, grootboek, userHash, groep)


<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Budget overview</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/budgetrapport.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/js/bootstrap.min.js"></script>

    <style>/#
      @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
      body, h1, h2, h3, h4, h5, h6{
      font-family: 'Bree Serif', serif;
      }

    </style>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>
          </h1>
        </div>
        <div class="col-xs-6 text-right">
          <h1></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Summary</h4>
              <a href="../static/figs/1-$groep
.png" target="_blank">
                  <img class="img-responsive" src="../static/figs/1-$groep
.png">
              </a>
            </div>
            <div class="panel-body">
            </div>
          </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4>Settings</h4>
            </div>
            <div class="panel-body">
              <p>
                This is not a live view of all bookings<br>
                The last time the info was updates was: $sapDatum<br>
                View: $grootboek<br>
                <a href="/logout">
                    <button type="button" class="btn">
                        Logout
                    </button>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
            $for lines in tables:
                <table class="table">
                    <thead>
                    <tr>
                        $for header in headers:
                            <th class="text-right">$header</th>
                        $for header in headersgrootboek.iterkeys():
                            <th>$headersgrootboek[header]</th>
                    </tr>
                    </thead>
                    <tbody>

                    $for i,line in enumerate(lines):
                        $if line['order']==0:
                            <tr>
                                <td class="text-right">
                                    <a href='$line['png']' target="_blank">
                                        *
                                    </a>
                                    <a href='?groep=$line['groep']'>
                                        <b>$line['ordername']</b>
                                    </a>
                                </td>
                                <td class="price-label">k&euro;$line['reserve']</td>
                                <td class="price-label">k&euro;$line['begroting']</td>
                                <td class="price-label">k&euro;$line['ruimte']</td>
                                $for name in headersgrootboek.iterkeys():
                                    $if name in line:
                                        <td class="price-label">k&euro;$line[name]</td>
                                    $else:
                                        <td class="price-label">k&euro;0</td>
                            </tr>
                            <tr>
                                <td class="text-right"></td>
                                <td class="price-label"></td>
                                <td class="price-label"></td>
                                <td class="price-label"></td>
                                $for name in headersgrootboek.iterkeys():
                                    $if name in line:
                                        <td class="price-label"></td>
                                    $else:
                                        <td class="price-label"></td>
                            </tr>
                        $else:
                            <tr>
                                <td class="text-right"><a href="/view/$userHash/$line['order']" target="_blank">$line['ordername']</a></td>
                                <td class="price-label">k&euro;$line['reserve']</td>
                                <td class="price-label">k&euro;$line['begroting']</td>
                                <td class="price-label">k&euro;$line['ruimte']</td>
                                $for name in headersgrootboek.iterkeys():
                                    $if name in line:
                                        <td class="price-label">k&euro;$line[name]</td>
                                    $else:
                                        <td class="price-label">k&euro;0</td>
                            </tr>

                    </tbody>
                </table>
                <table class="table">
                    <tr>
                    $for lines in tables:
                            $for i, line in enumerate(lines):
                                $if line['order']==0 and line['lvl']==1:
                                    <td>
                                        <a href='$line['png']' target="_blank">
                                            <img class="img-responsive" src='$line['png']'>
                                        </a>
                                    </td>
                            </tr><tr>
                    </tr>
                </table>
                <table class="table">
                    <tr>
                    $for lines in tables:
                            $for i,line in enumerate(lines):
                                $if line['order']!=0 and line['lvl']==0:
                                    <td>
                                        <a href='$line['png']' target="_blank">
                                            <img class="img-responsive" src='$line['png']'>
                                        </a>
                                    </td>
                                $if i%2:
                                    </tr><tr>
                    </tr>
                </table>
    </div>
</body>
</html>
