$def with(title, userHash, body, breadcrumb)

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>$:title</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/report.css">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/js/bootstrap.min.js"></script>

    <style>/#
      @import url(http://fonts.googleapis.com/css?family=Bree+Serif);
      body, h1, h2, h3, h4, h5, h6{
      font-family: 'Bree Serif', serif;
      }

    </style>
  </head>

  <body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index/$userHash">Budget Rapportage</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/report/$userHash">Report</a></li>
        <li><a href="/view/$userHash">View</a></li>
        <li><a href="/salaris/$userHash">Salaris</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout/$userHash">Sign out</a></li>
        <li><a href="/admin/$userHash">Admin</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

$if breadcrumb is not None:
    <ol class="breadcrumb">
        $for crumb in breadcrumb:
            <li class="$crumb['class']"><a href=$crumb['url']>$crumb['title']</a></li>
</nav>

  
  $:body

  </body>

</html>
