$def with (graphs)
<div class="panel panel-default">
        <div class="panel-heading">
            <button data-toggle="collapse" data-target="#collapseFigDIV" class="accordion-toggle btn btn-default btn-xs">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            Graph of orders in this group
        </div>
        <div class="panel-body collapse" id="collapseFigDIV">
            <table class="table">
                <tr>
                    $for graph in graphs:
                        <td>
                            <a href="$graph['link']" target="_blank">
                                <img class="img-responsive" src='$graph['png']'>
                            </a>
                        </td>
                        $:graph['spacer']
                </tr>
            </table>
        </div>
