$def with (title, msg, form, redirect)
      <div class="container">
          <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>
                      $:title
                  </h4>
                </div>
                <div class="panel-body">
                    $:msg
                </div>
                $if form != '':
                    <div class="panel-body">
                        <form method="GET" enctype="multipart/form-data" action="$redirect">
                            $if not form.valid: <p class="error">Error in form</p>
                            $:form.render()
                        </form>
                    </div>
            </div>
      </div>

<style type="text/css">
    .just-padding {
        padding: 15px;
    }
    .list-group.list-group-root {
        padding: 0;
        overflow: hidden;
    }
    .list-group.list-group-root .list-group {
        margin-bottom: 0;
    }
    .list-group.list-group-root .list-group-item {
        border-radius: 0;
        border-width: 1px 0 0 0;
    }
    .list-group.list-group-root > .list-group-item:first-child {
        border-top-width: 0;
    }
    .list-group.list-group-root > .list-group > .list-group-item {
        padding-left: 30px;
    }
    .list-group.list-group-root > .list-group > .list-group > .list-group-item {
        padding-left: 45px;
    }
</style>

<div class="just-padding">
    <div class="list-group list-group-root well">
        <a href="#" class="list-group-item">Item 1</a>
            <div class="list-group">
                <a href="#" class="list-group-item">Item 1.1</a>
                    <div class="list-group">
                        <a href="#" class="list-group-item">Item 1.1.1</a>
                    </div>
            </div>
    </div>
</div>
